*

!.gitignore

!go.mod
!go.sum

!LICENSE
!README.md

!enums/
!enums/**/*

!filesystems/
!filesystems/**/*

!images/
!images/**/*

!manifest/
!manifest/**/*

!module/
!module/**/*

!resources/
!resources/**/*